{% extends "layout.html" %}

{% block body %}

<div class="row justify-content-center mt-5"> {# Navbar'dan boşluk ve içeriği ortaya hizalama #}
    <div class="col-lg-8 col-md-10"> {# Daha uygun bir sütun genişliği, örneğin lg'de 8, md'de 10 #}
        <h3>Makaleler</h3>
        <hr>
        <form class="mb-4"> {# Arama formuna alt boşluk ekledik #}
            {% csrf_token %} 
            <div class="input-group"> {# Arama kutusu ve butonu için Bootstrap input-group #}
                <input type="text" name="keyword" class="form-control" placeholder="Ara...">
                <button type="submit" class="btn btn-danger">Ara</button>
            </div>
        </form>
    </div>
</div>

{% if articles %}
    {% for article in articles %}
    <div class="row justify-content-center"> {# Her makale için yeni bir satır #}
        <div class="col-lg-8 col-md-10"> {# Makale içeriği için uygun sütun genişliği #}
            <a href="{% url 'article:detail' article.slug %}"><h2 class="mt-4">{{article.title}}</h2></a> 
            
            <p class="lead">{{article.author.username}} tarafından yayınlandı</p>

            <hr>

            <p>{{article.created_date}}</p>
            <hr>
            {% if article.article_image %}
            <a href="{% url 'article:detail' article.slug %}"><img class="img-fluid rounded" src="{{article.article_image.url}}" alt=""></a>
            {% endif %}
            
            <hr>

            <p class="lead">{{article.content|safe|truncatewords:50}}</p>

            <a href="{% url 'article:detail' article.slug %}" class ="btn btn-danger my-3">Devamını Oku</a>
            <hr>
        </div>
    </div>
    {% endfor %}

{% else %}
<div class ="row justify-content-center mt-3"> {# Boşluk ve ortaya hizalama #}
    <div class="col-lg-8 col-md-10">
        <div class="alert alert-danger">
            Makale Bulunamadı
        </div>
    </div>
</div>
{% endif %}

{% endblock body %}